/*-------------------------------
  colors, fonts and variables setup
  -------------------------------*/
  
  

:root{
    --c-primary: #1a5582;
    --c-background:#e6e6e6;
    --c-dark:#2d2d2d;
    --c-black:#000000;
    --font-base:"poppins";
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.h1 .h2 .h3 .h4 .h5 .h6{
  font-weight: 600;
}

a{
  text-decoration: none;
  color: var(--c-primary);
}

a:hover{
  color: var(--c-primary);
}

.section-padding{
  padding-top: 150px;
  padding-bottom: 150px;

}

img{
  max-width: 100%;
  height: auto;
}


/*-------------------------------
 Button CSS setup
  -------------------------------*/

.btn-primary{
  background-color: var(--c-primary) !important;
  border:none !important;  
}

.btn-light{
  background-color: var(--c-background) !important;
  border:none !important;  
  }

.btn:hover{
  background-color: #6d8db6 !important;
}

/*-------------------------------
NavBar CSS setup
  -------------------------------*/
.navbar{
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 500;
}

.navbar-dark{
  background-color: var(--c-black);
}

/*-------------------------------
Hero CSS setup
  -------------------------------*/
#Hero{
  background: url(../Images/Home/hero.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -55px;    
}

.herotext1{
  font-size: 100px;
  font-weight: 600;
}

.herotext2{
    font-size: 40px;
}

/*-------------------------------
About Us CSS setup
  -------------------------------*/
.about{
  font-family: "poppins";
  font-size: 50px;
  font-weight: 600;
}

.about-p{
  font-family: "poppins";
  font-size:18px;
  font-weight: 100;
}

/*-------------------------------
Icon Box CSS setup
  -------------------------------*/
.iconbox{
  background: rgb(236, 232, 232) ;
  color: var(--c-primary);
  width: 60px;
  height: 60px;
  font-size: 55px;
  align-items: center;
  display: flex;
  flex: none;
}

.whyimg{
  width: 400px;
  height: 700px;
}